lightning_logs/
experiments/
old/
.DS_Store
.venv/
.idea/
.vscode/
.pytest_cache/
downloads/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
images/sit.png
.trash
*.zip
images/cup_torus/
images/cup_torus_no_bg/
*.pt
models/
.gradio/
moodspace_clean/
test_cleanup_dataset.py
test_upload_feedback.py
figs/